body {
    background-image: url("https://pixabay.com/static/uploads/photo/2015/03/26/09/53/stars-690522_960_720.jpg"); 
	background-repeat: no-repeat;
	 -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	background-attachment: fixed;
    /* set's space background to cover full width & height of the browser window */
}
#sun {
	position: relative;
    top: 0em;
    left: 11%;
    height: 170px;
    width: 170px; 
	/* set's size of sun & aligns with other planets */
}
.sun-container {
	position: relative;
    top: 11em;
    left: 85%; 
	width: 180px; 
	height: 180px; 

}
#mercury {
	position: relative;
    top: 0.5em;
    left: 15%; 
	/* position mercury */
    height: 40px;
    width: 40px; 
	/* size mercury */

}
.mercury-container {
	position: relative;
    top: 4em;
    left: 80%;
	width: 60px;
	height: 60px;
}
#venus {
    position: relative;
	top: 0.5em;
    left: 15%;
	/* position venus */
    height: 40px;
    width: 40px;
	/* size venus */
}
.venus-container {
	position: relative;
    top: 0.25em;
    left: 70%; 
	width: 64px;
	height: 60px;
}
#earth {
	position: relative;
	top: 0.5em;
    left: 15%;
	/* position earth */
    height: 40px;
    width: 40px;
	/* size earth */
}
.earth-container {
	position: relative;
    top: -3.5em; 
    left: 60%; 
	width: 60px;
	height: 60px;
}

#mars {
	position: relative;
	top: 0.5em;
    left: 15%;
	/* position mars */
    height: 40px;
    width: 40px;
	/* size mars */
}
.mars-container {
	position: relative;
    top: -7.2em; 
    left: 50%; 
	width: 60px;
	height: 60px;
}
#jupiter {
	position: relative;
	top: 0.5em;
    left: 15%;
	/* position jupiter */
    height: 40px;
    width: 40px;
	/* size jupiter */
}
.jupiter-container {
	position: relative;
    top: -10.9em;  
    left: 40%;   
	width: 60px;
	height: 60px;
}
#saturn{
	position: relative;
	top: 0.5em;
    left: 15%;
	/* position saturn */
    height: 40px;
    width: 40px;
	/* size saturn */
}
.saturn-container {
	position: relative;
    top: -14.6em;  
    left: 30%;     
	width: 60px;
	height: 60px;
}
#uranus {
	position: relative;
	top: 0.5em;
    left: 15%;
	/* position uranus */
    height: 40px;
    width: 40px;
	/* size uranus */
}
.uranus-container {
	position: relative;
    top: -18.3em;  
    left: 20%;     
	width: 60px;
	height: 60px;
}
#neptune {
	position: relative;
	top: 0.5em;
    left: 15%;
	/* position uranus */
    height: 40px;
    width: 40px;
	/* size uranus */
}	
.neptune-container {
	position: relative;
    top: -22em;  
    left: 10%;     
	width: 60px;
	height: 60px;
} 
#pluto {
	position: relative; 
	top: 0.5em;
    left: 15%;
	/* position pluto */
    height: 40px;
    width: 40px;
	/* size pluto */
}
.pluto-container {
	position: relative;
    top: -25.7em;  
    left: 0%;      
	width: 60px;
	height: 60px; 
}
#comet {
	/* position: absolute;
    top: 20%;
    left: 30%; */
	position: relative;
	top: -40em;  
    left: 30%; 
	/* position comet */
	height: 20px;
	width: 20px;
	/* size comet */	
}
#spaceship {
	/* position: absolute;
    top: 40%;
    left: 5%; */
	position: relative;
	top: -35em;
	left: 0%;
	/* position spaceship */
	height: 20px;
	width: 20px; 
	/* size spaceship */
	
}
